*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(rgb(73 10 237 / 60%), rgb(73 10 237 / 64%), rgb(73 10 237 / 62%)), url(./Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px black;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;*/
    overflow: hidden;
}
.main-container{
    display: flex;
    overflow: hidden;
}
@keyframes typing {
   100%{
       left: 100%;
       margin: 0 -55px 0 85px;
   }
   from {display:none;}
   to {display:block;}
  }
.image-container{
    float: right;
    position: relative;
    width: 43%;
    height: 54%;
    padding: 1%;
    border-radius: 1px;
    border-radius: 30px;
    border: 2px solid black;
    transition-property: background, transform;
    transition-duration:0.4s;
    transition-timing-function: ease-in-out;
}
.image-container:hover{
    background : linear-gradient(black, rgba(0,0,0,0.6), rgba(0,0,0,0.3), black);
    transform: translate(0px, -45px);
}
.four-image-container{
    display: flex;
    flex-wrap: nowrap;
    height: 48%;
    width: 59%;
    position: absolute;
    right: 1%;
    top: 36%;
}
.work-set-button{
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: wheat;
    padding: 0%;
    padding-left: 0%;
    position: relative;
    top: 18%;
    left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    height: 8%;
    transition-property: background-color, opacity;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
}
.work-set-button:hover{
    background-color: black;
    color: white;
    opacity: 1;
}
.menu-container{
    background-color : #160238;
    position: absolute;
    top: 10%;
    height: 16%;
    width: 20%;
    right : 0%;
    display: none;
    z-index: 1;
    opacity: 0.7;
}

.list{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 42px #2a056b;
}
.list:hover .menu-container{
    display:block;
}
.inner-menu a{
    font-size: 200%;
    display : flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding :1.3%;
    text-decoration: none;
    background-color : #160238;
    border: 1px solid black;
    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
.inner-menu a:hover{
    background-color: lime;
}
.nav{
    width: 14%;
    height: 100%;
    padding: 1%;
    font-size: 124%;
    box-sizing: border-box;
    box-shadow: 1px 1px black;
    text-align: center;
    line-height: 100%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.nav:hover{
    background-color: rgb(4, 224, 4);
}

.header{
    color: aliceblue;
    padding-top: 17%;
    padding-left: 2%;
    font-size: 411%;
    font-family: system-ui;
    text-shadow: 6px 10px black;
    width: 36%;
    animation: typing 1s steps(40)infinite;
}
.header::after{
    content:"";
    height: 14%;
    width: 100%;
    position: absolute;
    border-left: 2px solid white;
    animation: typing 1s steps(40) infinite;
}
.input-wrapper{
    height: 100vh;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(7 1 21), rgb(73 10 237 / 64%), rgb(47 12 45));
}
.upper-element{
    height: 5%;
    width: 70%;
}
#input-container{
    width: 90%;
    height: 10%;
}
.making-list-container{
    width: 31%;
    height: 93%;
    background-color: whitesmoke;
    overflow: scroll;
}
.doing-list{
    display : block;
    list-style-type: none;
    padding: 4%;
    border-top: 1px solid black;
    transition-property: background-color, color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
.doing-list:hover{
    background-color:limegreen;
    color:white;
}
.button{
    background-color: rgb(122, 6, 122);
    color:white;
    height: 6%;
    width: 8%;
    transition-property: background-color;
    transition-duration:0.7s;
    transition-timing-function: ease-in-out;
}
.delete-button{
    float : right;
    width: 10%;
    height: 100%;
}
.delete-button:hover{
    background-color: red;
    color : white;
}
.button:hover{
    pointer-events: auto;
    background-color: limegreen;
}
.input-wrapper ul{
    overflow: scroll;
}
#pending{
    background-color: forestgreen;
    color: white;
    transition-property: background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
#pending:hover{
    background-color:maroon;
}
.clear-button{
    background-color: red;
    color: white;
}
#first-img-container{
    width: 86%;
    height: 93%;
    position: absolute;
    top: 1%;
    right: 2%;
}
#second-img-container{
    width: 86%;
    height: 93%;
    position: absolute;
    right: 2%;
    top: 59%;
}
.completed{
    text-decoration: line-through;
}
@media screen and (max-width:1492px){
    .header{
        font-size: 373%;
        padding-top: 22%;
    }
}
@media screen and (max-width:1355px){
    .header{
        padding-top: 18%;
        font-size: 310%;
    }
}
@media screen and (max-width: 1255px){
    .making-list-container {
        width: 37%;
    }
}
@media screen and (max-width:1132px){
    .header{
        font-size: 290%;
    }
}
@media screen and (max-width:1059px){
    .header{
        font-size: 275%;
        padding-top: 26%;
    }
}
@media screen and (max-width:999px){
    .header{
        font-size: 229%;
        padding-top: 32%;
    }
    .work-set-button{
        top: 11%;
    }
    .header::after{
        height: 6%;
    }
}
@media screen and (max-width:909px){
    .making-list-container {
        width: 59%;
    }
    .work-set-button{
        padding-left: 1%;
        padding-right: 1%;
        height: 5%;
    }
}
@media screen and (max-width:889px){
    .header {
        font-size: 196%;
        padding-top: 34%;
    }
    .work-set-button{
        top: 8%;
    }
    .image-container{
        width: 46%;
        height: 41%;
    }
    #second-img-container{
        top: 47%;
    }
}
@media screen and (max-width:719px){
    .header{
        font-size: 192%;
        padding-top: 42%;
    }
    .work-set-button{
        padding-left: 3%;
        padding-right: 3%;
        height: 6%;
    }
}
@media screen and (max-width:700px){
    .header{
        font-size: 171%;
        text-shadow: 2px 7px black;
    }
}
@media  screen and (max-width:629px){
    .header{
        font-size: 154%;
        padding-top: 53%;
    }
    .inner-menu a{
        font-size: 139%;
        padding : 6%;
    }    
}
@media screen and (max-width:560px){
    .four-image-container {
        position: absolute;
        right: 22%;
        top: 25%;
        width: 67%;
    }
    .header{
        padding-top:80%;
        font-size:135%;
    }
    .work-set-button {
        position: absolute;
        left: 39%;
        top: 82%;
        padding-left: 4%;
        padding-right: 4%;
        font-size: 89%;
    }    
}
@media screen and (max-width:490px){
    .header{
        font-size: 110%;
        position: absolute;
        top: -9%;
    }
    #four{
        display: none;
    }
    .image-container{
        padding: 4%;
    }
    .image-container:hover{
        transform: translate(-60px, 0px);
    }
    .four-image-container {
        position: absolute;
        right: 4%;
    } 
    .work-set-button {
        position: absolute;
        left: 22%;
        top: 64%;
        font-size: small;
    } 
    .inner-menu a{
        font-size: 100%;
        padding : 12%;
    }      
}
@media screen and (max-width:400px){
    .header{
        top: 7%;
        font-size: 99%;
    }
    .image-container {
        width: 60%;
    }
    .making-list-container {
        width: 78%;
    }
}